# ignore files with no extention:
*
!*/
!*.*

# test SSH keypair (generated at build time)
tests/docker/id_ed25519*

# normal ignores:
*.exe
nimcache
*.pdb
*.ilk
*.out
.*
nimble.develop
nimble.paths
nimbledeps
